.wrapSection {
    height: calc(100vh - 200px) !important;
    width: 100%;
    background-color: #ff494b;
    background-image: url(https://res.cloudinary.com/seimutants/image/upload/v1728175616/tqbuak90khcrqgk9jpuz.png);
    width: 100%;
    overflow: hidden;
    margin-bottom: 48px;
}
