.wrapSection {
    height: 100vh;
    width: 100vw;
    background: #1F1E20;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
    position: absolute;
    z-index: 1000000;
}

.blur {
    position: absolute;
    background: rgba(80, 80, 82, 0.37);
    filter: blur(257px);
    width: 80%;
    height: 100%;
    top: -50%;
    border-radius: 100%;
}

.image {
    width: 250px;
}

.loaderWrap {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 6px;
    position: relative;
}

.loaderBackground {
    width: 100%;
    height: 100%;
    background-color: #000;
    position: absolute;
    top: 0;
    left: 0;
}

.loader {
    width: 0%;
    height: 100%;
    background-color: #D71518;
    position: absolute;
    top: 0;
    left: 0;
}
