.wrapSection {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 14px 24px;
    background-color: white;
    border-radius: 8px;
    width: 91%;
    margin-top: 48px;
    position: fixed;
    top: 0;
    z-index: 1000;
}

.links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 25px;
    margin-top: 4px;
    cursor: pointer;
    margin-left: -87px;
}

.links h1 {
    font-family: Ambit;
    font-size: 17px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; /* 150% */
    letter-spacing: 0.8px;
}

.links h1:hover {
    color: #D71518;
}

@media screen and (max-width: 700px) {
    .wrapSection {
        padding: 10px 12px;
        margin-top: 15px;
    }
    
    .links {
        display: none;
    }

    .wrapSection img {
        width: 110px;
    }
}
