.buyButton {
    background: linear-gradient(266deg, #B4090B 0%, #E16668 100.45%);
    border-radius: 6px;
    font-family: ClashGrotesk-Regular;
    font-size: 16px;
    font-style: normal;
    width: max-content;
    font-weight: 600;
    color: #FFF;
    padding: 11px 20px 10px 20px;
    cursor: pointer;
    transition: all 0.1s linear;
    outline: 0px solid #FF474A;
}

.buyButton:hover {
    outline: 2px solid #FF474A;
    outline-offset: 3px;
}