* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: Ambit;
  src: url(./assets/fonts/Ambit\ Regular.otf);
}

@font-face {
  font-family: Ambit-600;
  src: url(./assets/fonts/Ambit-600.otf);
}

@font-face {
  font-family: Ambit-700;
  src: url(./assets/fonts/Ambit-700.otf);
}

@font-face {
  font-family: Ambit-900;
  src: url(./assets/fonts/Ambit-900.otf);
}

@font-face {
  font-family: ClashGrotesk-Bold;
  src: url(./assets/fonts/ClashGrotesk-Bold.otf);
}

@font-face {
  font-family: ClashGrotesk-Medium;
  src: url(./assets/fonts/ClashGrotesk-Medium.otf);
}

@font-face {
  font-family: ClashGrotesk-Regular;
  src: url(./assets/fonts/ClashGrotesk-Regular.otf);
}

@font-face {
  font-family: ClashGrotesk-Light;
  src: url(./assets/fonts/ClashGrotesk-Light.otf);
}

@font-face {
  font-family: ClashGrotesk-Semibold;
  src: url(./assets/fonts/ClashGrotesk-Semibold.otf);
}

.app {
  background: #D71518;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

*::-webkit-scrollbar {
  display: none;
}
